<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.services">

		<sourceProvider
			provider="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
			<variable
				name="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler"
				priorityLevel="workbench">
			</variable>
		</sourceProvider>

		<sourceProvider
			provider="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
			<variable
				name="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler"
				priorityLevel="workbench">
			</variable>
		</sourceProvider>
		
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.liglab.adele.cilia.workbench.common.preferencePage.CiliaRootPreferencePage"
			class="fr.liglab.adele.cilia.workbench.designer.misc.preferencePage.CiliaDesignerPreferencePage"
			id="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaDesignerPreferencePage"
			name="Cilia Designer">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		
		<!-- Root category -->
		<category id="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			name="CILIA designer">
		</category>
		
		<!-- Spec repository view -->
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.specrepositoryview.SpecRepositoryView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview"
			name="Specifications" restorable="true">
		</view>
				
		<!-- Jar repository view -->
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.jarrepositoryview.JarRepositoryView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview"
			name="Implementations" restorable="true">
		</view>
		
		<!-- Abstract composition repository view -->
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.abstractcompositionsview.AbstractCompositionsView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview"
			name="Abstract compositions" restorable="true">
		</view>
		
		<!-- DSCILIA repository view -->
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.dsciliaview.DSCiliaRepositoryView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview" name="DSCila compositions"
			restorable="true">
		</view>
		
		<!-- Abstract Chain viewer -->
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chain.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview"
			name="Abstract Chain" restorable="true">
		</view>
		
		<!-- DSCilia Chain viewer -->
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chain.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview"
			name="DSCilia Chain" restorable="true">
		</view>
		
	</extension>
	
	<extension point="org.eclipse.ui.commands">
	
		<!-- Spec repository view -->
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.reload"
			name="Reload Spec Repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createFile"
			name="Create Spec file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteFile"
			name="Delete Spec file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createMediator"
			name="Create Spec mediator">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteMediator"
			name="Delete Spec mediator">
		</command>

		<!-- Jar repository view -->
		<command description="Reloads the Jar Repository"
			id="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.reload"
			name="Reload repository">
		</command>

		<!-- Abstract composition repository view -->
		<command description="Reloads the abstract composition repository"
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.reload"
			name="Reload repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.createFile"
			name="Create abstract compositions file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.deleteFile"
			name="Delete abstract compositions file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.createChain"
			name="Create abstract chain">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.deleteChain"
			name="Delete abstract chain">
		</command>
				
		<!-- DSCILIA repository view -->
		<command description="Reloads the DSCilia Repository"
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.reload"
			name="Reload repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.createFile"
			name="Create DSCilia file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.deleteFile"
			name="Delete DSCilia file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.createChain"
			name="Create chain">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.deleteChain"
			name="Delete chain">
		</command>
		
		<!-- Abstract Chain viewer -->
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.reloadChain"
			name="Reload chain">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createMediator"
			name="Create mediator">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteMediator"
			name="Delete mediator">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createAdapter"
			name="Create adapter">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteAdapter"
			name="Delete adapter">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createBinding"
			name="Create binding">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteBinding"
			name="Delete binding">
		</command>
		
		<!-- DSCilia Chain viewer -->
		<command 
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createMediator"
			name="Create mediator">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteMediator"
			name="Delete mediator">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createAdapter"
			name="Create adapter">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteAdapter"
			name="Delete adapter">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createBinding"
			name="Create binding">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteBinding"
			name="Delete binding">
		</command>
		
	</extension>
	<extension point="org.eclipse.ui.menus">

		<!-- Spec repository view -->
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload Spec repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/file.png"
				label="Create Spec file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/file.png"
				label="Delete Spec file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/mediator.png"
				label="Create Spec mediator" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/mediator.png"
				label="Delete Spec mediator" style="push">
			</command>
		</menuContribution>
		
		<!-- Jar repository view -->
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload Jar repository" style="push">
			</command>
		</menuContribution>
		
		<!-- Abstract composition repository view -->
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload abstract compositions repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.createFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/file.png"
				label="Create abstract compositions file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.deleteFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/file.png"
				label="Delete abstract compositions file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.createChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/chain.png"
				label="Create abstract chain" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.deleteChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/chain.png"
				label="Delete abstract chain" style="push">
			</command>
		</menuContribution>
		
		<!-- DSCILIA repository view -->
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliaview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload DScilia repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliaview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.createFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/file.png"
				label="Create DSCilia file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliaview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.deleteFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/file.png"
				label="Delete DSCilia file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliaview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.createChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/chain.png"
				label="Create DSCilia chain" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliaview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.deleteChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/chain.png"
				label="Delete DSCilia chain" style="push">
			</command>
		</menuContribution>
		
		<!-- Abstract Chain viewer -->
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.reloadChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload chain" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/mediator.png"
				label="Create mediator" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/mediator.png"
				label="Delete mediator" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createAdapter"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/adapter.png"
				label="Create adapter" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteAdapter"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/adapter.png"
				label="Delete adapter " style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createBinding"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/binding.png"
				label="Create binding" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.abstractchainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteBinding"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/binding.png"
				label="Delete binding" style="push">
			</command>
		</menuContribution>
		
		<!-- DSCilia Chain viewer -->
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/mediator.png"
				label="Create mediator" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/mediator.png"
				label="Delete mediator " style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createAdapter"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/adapter.png"
				label="Create adapter" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteAdapter"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/adapter.png"
				label="Delete adapter" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createBinding"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/binding.png"
				label="Create binding" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteBinding"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/binding.png"
				label="Delete binding" style="push">
			</command>
		</menuContribution>

	</extension>

	<extension point="org.eclipse.ui.handlers">
	
		<!-- Spec repository view -->
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.specrepositoryview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.specrepositoryview.CreateFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.specrepositoryview.DeleteFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.specrepositoryview.CreateMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createMediator">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.specrepositoryview.DeleteMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteMediator">
		</handler>
		
		<!-- Jar repository view -->
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.jarrepositoryview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.reload">
		</handler>
		
		<!-- Abstract composition repository view -->
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.abstractcompositionsview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.abstractcompositionsview.CreateFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.createFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.abstractcompositionsview.DeleteFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.deleteFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.abstractcompositionsview.CreateChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.createChain">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.abstractcompositionsview.DeleteChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractcompositionsview.deleteChain">
		</handler>
		
		<!-- DSCILIA repository view -->
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.dsciliaview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.dsciliaview.CreateFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.createFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.dsciliaview.DeleteFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.deleteFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.dsciliaview.CreateChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.createChain">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.dsciliaview.DeleteChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliaview.deleteChain">
		</handler>
				
		<!-- Abstract Chain viewer -->
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.ReloadChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.reloadChain">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.CreateMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createMediator">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.DeleteMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteMediator">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.CreateAdapterHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createAdapter">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.DeleteAdapterHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteAdapter">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.CreateBindingHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.createBinding">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.DeleteBindingHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.abstractchainview.deleteBinding">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.abstractchain.AbstractChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		
		<!-- DSCilia Chain viewer -->
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.CreateMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createMediator">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DeleteMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteMediator">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.CreateAdapterHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createAdapter">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DeleteAdapterHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteAdapter">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.CreateBindingHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.createBinding">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DeleteBindingHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliachainview.deleteBinding">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chainview.dsciliachain.DSCiliaChainToolbarEnabler">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.eclipse.core.runtime.xml"
			file-extensions="compo" />
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.eclipse.core.runtime.xml"
			file-extensions="dscilia" />
	</extension>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="fr.liglab.adele.cilia.workbench.designer.misc.perspective.DesignerPerspective"
			id="fr.liglab.adele.cilia.workbench.designer.perspective.designerperspective"
			name="Cilia designer">
		</perspective>
	</extension>
</plugin>
