<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.services">
		<sourceProvider
			provider="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.VariablesSourceProvider">
			<variable
				name="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable"
				priorityLevel="workbench">
			</variable>
		</sourceProvider>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.liglab.adele.cilia.workbench.common.preferencePage.CiliaRootPreferencePage"
			class="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaDesignerPreferencePage"
			id="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaDesignerPreferencePage"
			name="Cilia Designer">
		</page>
	</extension>
	<extension point="org.eclipse.ui.views">
	<category
       id="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
       name="CILIA designer">
		</category>
	       <view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.JarRepositoryView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview"
			name="Jar repository" restorable="true">
	  </view>
	
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.DsciliaRepositoryView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview"
			name="Dscilia repository" restorable="true">
		</view>
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.ChainDesignerView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chain.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview"
			name="Chain Designer" restorable="true">
		</view>
		<view category="fr.liglab.adele.cilia.workbench.designer.view.rootCategory"
			class="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.SpecRepositoryView"
			icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview"
			name="Spec repository" restorable="true">
		</view>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.reload"
			name="Reload Jar repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.reload"
			name="Reload Dscilia repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.createFile"
			name="Create Dscilia file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.deleteFile"
			name="Delete Dscilia file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.createChain"
			name="Create Dscilia chain">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.deleteChain"
			name="Delete Dscilia chain">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createMediator"
			name="Create mediator component">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteMediator"
			name="Delete mediator component">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createAdapter"
			name="Create adapter">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteAdapter"
			name="Delete adapter">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createBinding"
			name="Create binding">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteBinding"
			name="Delete binding">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.reload"
			name="Reload Spec Repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createFile"
			name="Create Spec file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteFile"
			name="Delete Spec file">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createMediator"
			name="Create Spec mediator">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteMediator"
			name="Delete Spec mediator">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload Jar repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload Dscilia repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.createFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/fileCreate.png"
				label="Create Dscilia file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.deleteFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/fileDelete.png"
				label="Delete Dscilia file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.createChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chainCreate.png"
				label="Create Dscilia chain" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.deleteChain"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chainDelete.png"
				label="Delete Dscilia chain" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/mediatorCreate.png"
				label="Create mediator component" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/mediatorDelete.png"
				label="Delete mediator component " style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createAdapter"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/adapterCreate.png"
				label="Create adapter" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteAdapter"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/adapterDelete.png"
				label="Delete adapter " style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createBinding"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/bindingCreate.png"
				label="Create binding" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteBinding"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/bindingDelete.png"
				label="Delete binding" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload Spec repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/fileCreate.png"
				label="Create Spec file" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/fileDelete.png"
				label="Delete Spec file" style="push">
			</command>
		</menuContribution>
		
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/mediatorCreate.png"
				label="Create Spec mediator" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteMediator"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/mediatorDelete.png"
				label="Delete Spec mediator" style="push">
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.jarrepositoryview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.CreateFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.createFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.DeleteFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.deleteFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.CreateChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.createChain">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.DeleteChainHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.dsciliarepositoryview.deleteChain">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.CreateMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createMediator">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.DeleteMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteMediator">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.CreateAdapterHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createAdapter">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.DeleteAdapterHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteAdapter">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.CreateBindingHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.createBinding">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.DeleteBindingHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.deleteBinding">
			<enabledWhen>
				<with
					variable="fr.liglab.adele.cilia.workbench.designer.view.chaindesignerview.toolbarEnable">
					<equals value="enable">
					</equals>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.CreateFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.DeleteFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.CreateMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.createMediator">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.DeleteMediatorHandler"
			commandId="fr.liglab.adele.cilia.workbench.designer.view.specrepositoryview.deleteMediator">
		</handler>
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.propertyview.DisplayedInPropertiesView"
			class="fr.liglab.adele.cilia.workbench.designer.view.repositoryview.propertyview.PropertiesAdapter">
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
		</factory>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.eclipse.core.runtime.xml"
			file-extensions="dscilia" />
	</extension>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="fr.liglab.adele.cilia.workbench.designer.perspective.DefaultPerspective"
			id="fr.liglab.adele.cilia.workbench.designer.perspective.defaultperspective"
			name="Cilia designer">
		</perspective>
	</extension>
</plugin>
