<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.liglab.adele.cilia.workbench.common.preferencePage.CiliaRootPreferencePage"
            class="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaDesignerPreferencePage"
            id="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaDesignerPreferencePage"
            name="Cilia Designer">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="fr.liglab.adele.cilia.workbench.designer.rootCategory"
            class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.JarRepositoryView"
            icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
            id="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview"
            name="Jar repository"
            restorable="true">
      </view>
      <category
            id="fr.liglab.adele.cilia.workbench.designer.rootCategory"
            name="CILIA Designer">
      </category>
      <view
            category="fr.liglab.adele.cilia.workbench.designer.rootCategory"
            class="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.DsciliaRepositoryView"
            icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
            id="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview"
            name="Dscilia repository"
            restorable="true">
      </view>
      <view
            category="fr.liglab.adele.cilia.workbench.designer.rootCategory"
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.ChainDesignerView"
            icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chain.png"
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview"
            name="Chain Designer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.reload"
            name="Reload Jar repository">
      </command>
      <command
            id="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.reload"
            name="Reload Dscilia repository">
      </command>
      <command
            id="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.createFile"
            name="Create Dscilia file">
      </command>
      <command
            id="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.deleteFile"
            name="Delete Dscilia file">
      </command>
      <command
            id="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.createChain"
            name="Create Dscilia chain">
      </command>
      <command
            id="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.deleteChain"
            name="Delete Dscilia chain">
      </command>
      
      <command
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createMediator"
            name="Create mediator component">
      </command>
      
      <command
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteMediator"
            name="Delete mediator component">
      </command>
      
            <command
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createAdapter"
            name="Create adapter">
      </command>
      
      <command
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteAdapter"
            name="Delete adapter">
      </command>
      
            <command
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createBinding"
            name="Create binding">
      </command>
      
      <command
            id="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteBinding"
            name="Delete binding">
      </command>
      
      
      
      
      
      
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.jarrepositoryview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.reload"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
               label="Reload Jar repository"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.reload"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
               label="Reload Dscilia repository"
               style="push">
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.createFile"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/fileCreate.png"
               label="Create Dscilia file"
               style="push">
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.deleteFile"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/fileDelete.png"
               label="Delete Dscilia file"
               style="push">
         </command>
      </menuContribution>
      
       <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.createChain"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chainCreate.png"
               label="Create Dscilia chain"
               style="push">
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.deleteChain"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/chainDelete.png"
               label="Delete Dscilia chain"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.chaindesignerview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createMediator"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/mediatorCreate.png"
               label="Create mediator component"
               style="push">
         </command>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.chaindesignerview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteMediator"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/mediatorDelete.png"
               label="Delete mediator component "
               style="push">
         </command>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.chaindesignerview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createAdapter"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/adapterCreate.png"
               label="Create adapter"
               style="push">
         </command>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.chaindesignerview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteAdapter"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/adapterDelete.png"
               label="Delete adapter "
               style="push">
         </command>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.chaindesignerview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createBinding"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/bindingCreate.png"
               label="Create binding"
               style="push">
         </command>
      </menuContribution>      
       <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.liglab.adele.cilia.workbench.designer.chaindesignerview">
         <command
               commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteBinding"
               icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/bindingDelete.png"
               label="Delete binding"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.ReloadHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.reload">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.ReloadHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.reload">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.CreateFileHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.createFile">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.DeleteFileHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.deleteFile">
      </handler>
      
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.CreateChainHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.createChain">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.DeleteChainHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.dsciliarepositoryview.deleteChain">
      </handler>
      
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.CreateMediatorHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createMediator">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.DeleteMediatorHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteMediator">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.CreateAdapterHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createAdapter">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.DeleteAdapterHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteAdapter">
      </handler>
            <handler
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.CreateBindingHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.createBinding">
      </handler>
      <handler
            class="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.DeleteBindingHandler"
            commandId="fr.liglab.adele.cilia.workbench.designer.chaindesignerview.deleteBinding">
      </handler>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Adapter" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Bundle" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Collector" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Dispatcher" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.MediatorComponent" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Processor" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Scheduler" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>
      
            <factory adaptableType="fr.liglab.adele.cilia.workbench.designer.parser.metadata.Sender" class="fr.liglab.adele.cilia.workbench.designer.jarrepositoryview.propertyview.PropertiesAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
      </factory>      
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         
              
	<file-association
       content-type="org.eclipse.core.runtime.xml"
       file-extensions="dscilia"/>
         
         
         
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.liglab.adele.cilia.workbench.designer.perspective.DefaultPerspective"
            id="fr.liglab.adele.cilia.workbench.designer.perspective.defaultperspective"
            name="Cilia designer">
      </perspective>
   </extension>
</plugin>
