<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="fr.liglab.adele.cilia.workbench.common.ui.preferencePage.CiliaRootPreferencePage"
            id="fr.liglab.adele.cilia.workbench.common.preferencePage.CiliaRootPreferencePage"
            name="Cilia IDE">
      </page>
   </extension>
   <extension point="org.eclipse.ui.views">
   		<category id="fr.liglab.adele.cilia.workbench.common.view.rootCategory"
			name="CILIA workbench">
		</category>
    <view
            category="fr.liglab.adele.cilia.workbench.common.view.rootCategory"
            class="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.CiliaErrorView"
            icon="icons/16/error.png"
            id="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview"
            name="Cilia error view"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.generator"
            name="Cilia Marker Generator">
         <markerTypeReference
               id="fr.liglab.adele.cilia.workbench.common.marker">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.sourceproviderfield"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.rootsourceproviderfield"
               visible="true">
         </markerFieldReference>
      </markerContentGenerator>
      <markerField
            class="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.SourceProviderField"
            id="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.sourceproviderfield"
            name="Source Provider">
      </markerField>
      <markerField
            class="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.RootSourceProviderField"
            id="fr.liglab.adele.cilia.workbench.common.ui.view.ciliaerrorview.rootsourceproviderfield"
            name="Root Source Provider">
      </markerField>
   </extension>
   <extension
         id="fr.liglab.adele.cilia.workbench.common.marker"
         name="Cilia marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
    </extension>
   	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="fr.liglab.adele.cilia.workbench.common.ui.view.propertiesview.DisplayedInPropertiesView"
			class="fr.liglab.adele.cilia.workbench.common.ui.view.propertiesview.PropertiesAdapter">
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"></adapter>
		</factory>
	</extension>
</plugin>
