<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.liglab.adele.cilia.workbench.common.preferencePage.CiliaRootPreferencePage"
            class="fr.liglab.adele.cilia.workbench.restmonitoring.misc.preferencepage.RestMonitoringPreferencePage"
            id="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaRestMonitoringPreferencePage"
            name="Cilia Rest Monitoring">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="fr.liglab.adele.cilia.workbench.common.view.rootCategory"
            class="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.PlatformView"
            icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
            id="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview"
            name="Platforms"
            restorable="true">
      </view>
   </extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.eclipse.core.runtime.xml"
			file-extensions="pf" />
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
			id="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.reload"
			name="Reload repository">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.fechchainlist"
			name="Fetch chain list from platform">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.createFile"
			name="Create platform description">
		</command>
		<command
			id="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.deleteFile"
			name="Delete platform description">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.reload"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/reload.png"
				label="Reload repository" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.fechchainlist"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/connect.png"
				label="Fetch chain list from platform" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.createFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-create/file.png"
				label="Create platform description" style="push">
			</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="toolbar:fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview">
			<command
				commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.deleteFile"
				icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16-delete/file.png"
				label="Delete platform description" style="push">
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.handlers">		
		<handler
			class="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.ReloadHandler"
			commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.reload">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.FetchChainListHandler"
			commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.fechchainlist">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.CreateFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.createFile">
		</handler>
		<handler
			class="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.DeleteFileHandler"
			commandId="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.deleteFile">
		</handler>
	</extension>
	
</plugin>
