<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.liglab.adele.cilia.workbench.common.preferencePage.CiliaRootPreferencePage"
            class="fr.liglab.adele.cilia.workbench.restmonitoring.misc.preferencepage.RestMonitoringPreferencePage"
            id="fr.liglab.adele.cilia.workbench.designer.preferencePage.CiliaRestMonitoringPreferencePage"
            name="Cilia Rest Monitoring">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="fr.liglab.adele.cilia.workbench.common.view.rootCategory"
            class="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview.PlatformView"
            icon="platform:/plugin/fr.liglab.adele.cilia.workbench.common/icons/16/repo.png"
            id="fr.liglab.adele.cilia.workbench.restmonitoring.view.platformview"
            name="Platforms"
            restorable="true">
      </view>
   </extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.eclipse.core.runtime.xml"
			file-extensions="pf" />
	</extension>
</plugin>
