<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="workbenchpreferencepage.WorkbenchPreferencePage1"
            id="preferences-test.page1"
            name="pref page">
      </page>
      <page
            category="preferences-test.page1"
            class="workbenchpreferencepage.WorkbenchPreferencePage2"
            id="preferences-test.page2"
            name="deuxième page">
      </page>
   </extension>

</plugin>
